<% provide(:title, 'Submit') %>
<h1>Submit a Stim</h1>

<h2>Submission Instructions:</h2>
<p>
Stim name should follow general capitalization rules and may not exceed 50
characters. Description should be one to two sentences long and may not
exceed 255 characters. Source or example should be a single working URL and
may not exceed 255 characters.
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@stim) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :source %>
      <%= f.text_field :source %>

      <%= f.submit "Add your stim!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
