<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "stim center", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "What is Stimming?",   help_path %></li>
        <li><%= link_to "Submit", submit_path %></li>
        <li><%= link_to "List of Stims", stims_path %></li>
      </ul>
    </nav>
  </div>
</header>
